{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>Learning Log</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .navbar-light .navbar-nav .nav-link.topics {
            color: #000; /* Change to a darker color if needed */
        }
        .navbar-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div class="d-flex order-1">
            {% if user.is_authenticated %}
                <span class="navbar-text">Hello, {{ user.username }}</span>
            {% endif %}
        </div>
        <a class="navbar-brand navbar-center" href="{% url 'learning_logs:index' %}">Learning Log</a>
        <ul class="navbar-nav ml-auto order-2">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="btn btn-primary nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</main>

</body>
</html>